<body>
  <div class="container">
    <div class="navbar">     
      <div class="banner">
        <h2>
          <span style="--i:1;">S</span>
				<span style="--i:2;">K</span>
				<span style="--i:3;">A</span>
				<span style="--i:4;">T</span>
				<span style="--i:5;">E</span>
				<span style="--i:6;">C</span>
				<span style="--i:7;">L</span>
				<span style="--i:8;">U</span>
				<span style="--i:9;">B</span>
        </h2>
        <img src="assets/image/spider.png" class="spider" alt="spider">
        <img src="assets/image/skull.webp" class="skull" alt="skull">
      </div>
      
    </div>
    <div class="header">
      Our team has crafted impactful, full-service work that finds<br/>your audience where they already are.
    </div>
    <div class="marquee">
      <span>
        Creative. Technology. Media. Creative. Technology. Media. Creative. Technology. Media. Creative. Technology. Media. Creative. Technology. Media.
      </span>
    </div>
    <section>
      <img src="assets/image/skateboarding.png" data-speed="-10" class="layer img-1" alt="">
      <img src="assets/image/skate02.webp" data-speed="8" class="layer img-2" alt="">
    </section>
  </div>
  <script src="assets/script/script.js"></script>
</body>
